.root {
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    box-sizing: border-box;
}
.avatar {
    margin-right: 8px;
}
.text{
    display: flex;
    text-align: center;
}

.root:hover{
    background-color: rgba(91, 37, 73, 0.3);
}
